body{
    background-color: black;
    color: white;
    font-family: arial, helvetica, sans-serif;
    font-size:16px;
    line-height:1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

#main-header{
    background-color:gold;
    color:white;
    border-top-style: dotted;
}

#navbar{
    background-color: grey;
    color:white;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color:goldenrod;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image: url('Images/showcase.jpg');
    background-position: center;
    height:100px;
    width: auto;
    margin-bottom: 30px;
    text-align: center;
}

#showcase{
    border:10px solid transparent;
    padding: 15px;
    border-image: url(border.jpg) 30 round;
}

#showcase h1{
    color:gold;
    font-size: 30px;
    line-height: 1.6em;
    padding-top:30px;
}

#main{
    float:left; 
    width: 70%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width: 30%;
    color：black;
    padding:10px;
    box-sizing: border-box;
}

#sidebar{
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
  }

#main-footer{
    background:yellow;
    color: white;
    text-align: center;
    padding:20px;
    margin-top: 40px;
    margin-bottom: 0%;
    font-size: 10px;
}

#main-footer{
    position: fixed;
    width: 50%;
    bottom: 10px;
    border: 3px solid #8AC007;
  } 

@media(max-width:600px){
    #main{
        width: 100%;
        float:none;
    }

    #sidebar{
        width: 100%;
        float:none;
    }
}